footer {
    background-color: #222;
    color: #fff;
    padding: 40px 20px;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    gap: 60px;
}

.footer-section h3 {
    font-size: 1.2em;
    margin-bottom: 15px;
}

.footer-section ul {
    list-style: none;
    padding: 0;
}

.footer-section ul li a {
    text-decoration: none;
    color: #fff;
}

.footer-section ul li a:hover {
    transition: color 0.3s;
    color: rgb(0, 145, 255);
}

.copyright {
    text-align: center;
    margin-top: 20px;
    font-size: 0.8em;
    margin-bottom: 15px;
    max-height: 80px;
}